:root {
    --turquoise: rgb(51,139,133);
    --dark-blue: hsl(194, 88%, 7%);
    --dark-blue-a: hsl(194, 88%, 4%);
    --light-sky-blue: hsl(194, 88%, 85%);
    font-size: 18px;
}

main {
    background-color: hsl(194, 88%, 85%);
}

header {
    background-color: black;
    width: 100%;    
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 0.50rem 0.80rem;
    z-index: 5;
}

.logo {
    width: 2rem;
}

nav {
    width: 100%;
    display: flex;
}

nav > :first-child {
    margin-left: 1rem;
}

nav > :last-child {
    margin-left: auto;
}

nav > a {
    color: white;
    font-size: 1.20rem;
    text-decoration: none;
    padding: 0.80rem;
    border-radius: 10px;
}

nav > a:hover {
    background-color: white;
    color: black;
}

nav > a:active {
    background-color: lightblue;
    color: black;
}

.link-toggler {
    color: white;
    font-size: 1.20rem;
    padding: 0.80rem;
    border-radius: 10px;
    position: relative;
}

.link-toggler:hover {
    cursor: pointer;
    background-color: lightblue;
    color: black;
}

.link-toggler:hover > .link-cont {
    display: block;
}

.link-toggler > .link-cont {
    display: none;
    background-color: lightblue;
    width: 12rem;
    border-radius: 10px;
    position: absolute;
    top: 2.3rem;
    left: -5px;
    overflow: hidden;
    padding-top: 0.75rem;
}

.link-toggler > .link-cont > a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 0.70em;
}

.link-toggler > .link-cont > a:hover {
    background-color:white;
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}

.bg-gray {
    background-color: hsla(194, 11%, 76%, 80%);
}

.text-bg-dark-blue {
    background-color: hsl(194, 88%, 7%);
    color:white
}

.card-width {
    max-width: 18rem;
}